/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import "helper";

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a2929;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

.trans {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.cursor-pointer {
  cursor: pointer;
}

.c-black {
  color: #000;
}

.c-grey {
  color: rgba(0, 0, 0, 0.5);
}

.c-red {
  color: #FF4343;
}

.container {
  max-width: 1600px !important;
}


.dropdown-toggle {
  &.show {
    &::after {
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }
  }

  &::after {
    content: "\f078";
    font-family: FontAwesome, serif;
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: unset;
    border-top: unset;
    border-right: unset;
    border-bottom: unset;
    border-left: unset;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.menu-site {
  width: 100%;
  background: #FFFFFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  min-height: 5.375rem;
  @include flex('c', 'c');

  .logo-site {
    width: 21.3125rem;
    @media (max-width: $sm) {
      width: 14.3125rem;
    }
  }
}

.navbar-user {
  &-name {
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 2.9375rem;
    letter-spacing: 0.0625rem;
    color: #000000;
    @media (max-width: $sm) {
      display: none;
    }
  }

  &-profile {
    font-weight: 600;
    font-size: 1rem;
    line-height: 2.9375rem;
    letter-spacing: 0.0625rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: -1.3125rem;
    display: block;
    @media (max-width: $sm) {
      display: none;
    }
  }

}

.nav-tabs {
  border-bottom: 0;
}

.nav-link {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 2.9375rem;
  letter-spacing: 0.0625rem;
  color: #000000;
  border: 0 !important;
  text-align: left;
  padding: 0;
  margin-right: 2.3125rem;


  &:hover, &:focus, &:active, &:target, &:visited, &:focus-visible, &:focus-within {
    border: 0 !important;
  }

  &.active {
    border: 0;
    border-bottom: 1px solid #000 !important;
  }
}

.section-title {
  font-weight: 700;
  font-size: 1.875rem;
  letter-spacing: 0.0625rem;
  color: #000000;
  margin-bottom: 2.875rem;
  @media (max-width: $sm){
    font-size: 1.5rem;
  }
}

.my-work-item {
  width: 100%;
  height: auto;
  cursor: pointer;

  &-img {
    height: 18.75rem;
    border-radius: 0.625rem;
    -webkit-box-shadow: 0 0 1.4375rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 1.4375rem rgba(0, 0, 0, 0.25);
    position: relative;
    @include bg;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;

    &-rate {
      background: rgba(0, 0, 0, 0.5);
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px);
      border-radius: 0.375rem;
      padding: 0.125rem 10px;
      position: absolute;
      right: 0.6875rem;
      bottom: 0.9375rem;
      font-weight: 700;
      font-size: 1.375rem;
      line-height: 2.9375rem;
      letter-spacing: 0.0625rem;
      color: #E9E9E9;

      i {
        color: #FFCF55;
      }
    }
  }

  &-title {
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 2.9375rem;
    letter-spacing: 0.0625rem;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 0;
  }

  &-year {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2.9375rem;
    letter-spacing: 0.0625rem;
    color: #000000;
  }

  &-text {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2.25rem;
    letter-spacing: 0.0625rem;
    color: #000000;
    margin-top: 1rem;
    min-height: 6.75rem;
  }
}


.art-critics-item {
  background: #FFFFFF;
  border-radius: 0.75rem;
  -webkit-box-shadow: 0 0 6px #d7d6d6;
  box-shadow: 0 0 6px #d7d6d6;
  padding: 1.8125rem 1.5rem;
  width: 100%;
  height: 100%;
  @include flex('s', 's');

  img {
    background: #D9D9D9;
    border-radius: 8px;
    margin-bottom: 0.625rem;
  }

  @media (max-width: 475px) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    img {
      margin-bottom: 0.9375rem;
    }
  }

  &-name {
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: 0.0625rem;
    color: #000000;
    margin-top: -0.3125rem;
  }

  &-block {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    letter-spacing: 0.0625rem;
    color: #000000;
    @include flex('s', 's');
    margin-bottom: 0.9375rem;
    -ms-flex-wrap: wrap;
    @media (max-width: $md){
      flex-wrap: wrap;
    }

    i {
      margin-right: 0.5625rem;
      margin-top: 0.25rem;
    }
  }
}

.btn-outline-dark {
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 9px;
  color: rgba(0, 0, 0, 0.5);
}

.breadcrumb {
  &-item {
    a {
      font-weight: 700;
      font-size: 0.875rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #000000;
    }
  }
}

.user-profile-name {
  font-weight: 700;
  font-size: 2.25rem;
  letter-spacing: 0.0625rem;
  color: #000000;
  margin-bottom: 0;
  @media (max-width: 425px){
    font-size: 1.8rem;
  }
}

.profile-avatar{
  width: 6.25rem;
}

.user-profile-position {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 2.9375rem;
  letter-spacing: 0.0625rem;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
}

.def-input {
  .form-label {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.9375rem;
    letter-spacing: 0.0625rem;
    color: #000000;
  }

  .form-control {
    height: 3.625rem;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    padding-left: 1.125rem;
  }
}

.accordion-profile {
  margin-bottom: 4.5625rem;

  .accordion-body {
    padding-left: 0;
  }

  .accordion-item {
    border: 0;
    margin-bottom: 0.5625rem;
  }

  .accordion-header {
    border: 0 solid #fff !important;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;

    .accordion-button {
      border: 0 !important;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 2.9375rem;
      letter-spacing: 0.0625rem;
      color: #000000;
      padding: 0;
      background: #fff;
      outline: unset;
      -webkit-box-shadow: unset;
      box-shadow: unset;

      &:after {
        display: none;
      }

      &[aria-expanded="true"] {
        .fa-circle-minus {
          display: inline-block;
        }

        .fa-circle-plus {
          display: none;
        }
      }

      .fa-circle-minus {
        display: none;
      }
    }
  }
}

.profile-work-item {
  width: 100%;
  @include bg;
  border-radius: 0.625rem;
  overflow: hidden;
  margin-bottom: 0.6875rem;

  &:hover {
    .profile-work-item-body {
      opacity: 1;
    }
  }

  &-body {
    width: 100%;
    height: 100%;
    @include flex('c', 'c');
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.65);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;

  }

  &-title {
    font-weight: 600;
    font-size: 0.875rem;
    letter-spacing: 0.0625rem;
    color: #FFFFFF;
    margin-bottom: 0;
  }

  &-year {
    font-weight: 400;
    font-size: 0.75rem;
    letter-spacing: 0.0625rem;
    color: #FFFFFF;
  }
}

.edit-btn {
  width: 2.5rem;
  height: 2.5rem;
  background: #FFFFFF;
  border-radius: 50%;
  @include flex('c', 'c');
  color: #1C274C;

  &:hover {
    background: #c0bfbf;
  }

  &.remove {
    color: #FF4343;
  }
}

.profile-work-title {
  font-weight: 700;
  font-size: 1.5625rem;
  letter-spacing: 0.0625rem;
  color: #000000;
}

.add-work {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.0625rem;
  color: #000000;
}

.check-btn {
  height: 3.625rem;
  width: 3.625rem;
}


// Art-cristcs.html

.art-critics-item-block {

  img {
    margin-right: 1.5625rem;
  }

}


.ARTISTS {
  margin-top: 4.375rem !important;
  margin-bottom: 18.75rem;
}

textarea {
  resize: none;
}

// sign-up

.sign {

  .heading {
    font-style: normal;
    font-weight: 800 !important;
    font-size: 1.875rem;
    letter-spacing: 0.0625rem;
    color: #000000;
    margin-bottom: 1.875rem;
  }

  p {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: #000000;

  }

  .btn-gray {
    background: rgba(0, 0, 0, 0.5) !important;
    border: none !important;
    padding: 0.6875rem 2.5rem !important;
    color: #fff;
  }

  .btn-gray.active{
    background: #000 !important;

  }

  .btn-sign{
    padding-top: 11px !important;
    padding-bottom: 11px !important;
    margin-right: 1.125rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1.375rem;
    letter-spacing: 0.0625rem;

    @media (max-width: $lg) {
      margin-bottom: 0.9375rem;
    }
  }


}


.btn-bottom {
  padding: 11px 40px !important;
  font-style: normal;
  font-weight: 600;
  font-size: 1.375rem;
  letter-spacing: 0.0625rem;
  margin-bottom: 4.375rem;
}

// Sign-up-avatar

.Sign-up-avatar {
  position: relative;
}

.avatar {
  width: 15.25rem;
  height: 15.25rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.05);
  margin-top: 1.5625rem;
}


.avtar-image-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;

  img {
    width: 3.6875rem;
    height: 3.6875rem;
  }

  span {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.875rem;
    letter-spacing: 0.0625rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 1.25rem;
  }

}

.select-file {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  height: 3.625rem;
  @include flex('sb', 'c');
  padding-right: 0.8125rem;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.0625rem;
  color: rgba(0, 0, 0, 0.25);
  padding-left: 1.125rem;
  @media (max-width: $sm){
    font-size: 0.8rem;
  }
}

.def-dark, .def-red {
  min-height: 3.625rem;
  font-weight: 600;
  font-size: 1.375rem;
  letter-spacing: 0.0625rem;
  color: #FFFFFF;
  padding: 0 2.5rem;
}

.def-dark {
  background: #000000;
  font-size: 1.375rem;
  padding: 0 2.5rem;
  font-weight: 600;

  &:hover {
    background: #262626;
    color: #fff;
  }
}

.def-red {
  background: #FF4343;
  border: 0;
}

.modal {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.remove-work-title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  letter-spacing: 1px;
  color: #000000;
}

.success-text-remove-work {
  font-weight: 400;
  font-size: 1.375rem;
  letter-spacing: 1px;
  color: #000000;
  margin-top: 0.9375rem;
}

.outline-black {
  border-color: #000;
  color: #000;
}

.btn-debug {
  position: relative;

  span {
    background: #F44343;
    border-radius: 1.3125rem;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 0.0625rem;
    color: #FFFFFF;
    padding: 0.125rem 0.4375rem;
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
  }
}

.green-message {
  display: none;
  position: fixed;
  right: 1.25rem;
  bottom: 1.25rem;
  background: #77BF4A;
  border-radius: 11px;
  padding: 1.5rem 1.25rem 0.625rem;

  &.show {
    display: block;
  }

  .fa-xmark {
    color: #FFFFFF;
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    cursor: pointer;

  }

  &-title {
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: 0.0625rem;
    color: #FFFFFF;
    margin-bottom: 0;
  }

  &-subtitle {
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 1px;
    color: #FFFFFF;
    opacity: 0.75;
  }
}

.nav-tabs{
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: auto;
  padding-bottom: 0.625rem;


  &::-webkit-scrollbar {
    width: 0.125rem;
    height: 0;
    border-radius: 0.3125rem;
  }

  .nav-link{
    white-space: nowrap;
  }
}

.modal-title{
  font-weight: 700 !important;
  font-size: 1.875rem !important;
  letter-spacing: 0.0625rem;
  color: #000000;
  margin-bottom: 30px;
}

.modal-content{
  padding: 2.75rem 3.25rem;
  .modal-body{
    padding: 0;
  }
  .modal-header{
    padding: 0;
    .btn-close{
      position: absolute;
      top: 3.125rem;
      right: 3.25rem;
    }
  }
}


.data-input{
  position: relative;
  width: 100%;
  &:after{
    content: "\f073";
    font-family: FontAwesome, serif;
    position: absolute;
    top: 12px;
    right: 13px;
    font-size: 21px;
    color: #303030;
  }
}

.text-ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100px;
}